*.swp
*.swo
*.pyc
*.pyo
*.tar.gz
*.zip
/labsite_dj15/static/
/labsite_dj15/sample_upload/
/labsite_dj15/passwd
/labsite_dj15/assignments
/labsite_dj15/log/logfile
/labsite_dj15/log/logfile.1
/labsite_dj15/log/logfile.2
/labsite_dj15/log/logfile.3
/labsite_dj15/log/logfile.4
/labsite_dj15/log/logfile.5
/labsite_dj15/asset/img/logo.png
/labsite_dj15/debug
/labsite_dj15/logo/logo.png
/labsite_dj15/logo/logo-small.xcf
/labsite_dj15/logo/logo.xcf
/labsite_dj15/logo/Untitled.xcf
/dump-fixed.sql
/dump.sql
/evolve.sql
/dbdump-2013-04-18-13-16
/dbdump-2013-04-18-13-32
