#logo {
    font-size: 200%;
    font-family: serif;
    float: left;
}

body {
    /* background-color: #34373f; */
    background-color: #7187aa;
}

div#main{
    /* box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, .8); */
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 40px;
}

table {
    /* background: #faf9bd; */
    border-collapse:collapse;
    border-spacing: 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}

th, td {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#footer {
    color: #DDD;
    width: 100%;
    position: fixed; left: 0; right: 0;
    min-height: 100px;
}
#footer .thanks{
    text-shadow: 3px 2px 8px #555;
    padding: 12px 12px;
    font-size: 80%;
    position: fixed;
    left: 800px;
}
#footer .info {
    text-shadow: 3px 2px 8px #666;
    padding: 12px 12px;
    float: left;
}
#footer .thanks a{
    text-decoration: none;
    color: #fff;
}
#footer .thanks a:hover{
    text-decoration: none;
    color: #ff0;
}

#footer .thanks ul {
    list-style-type: circle;
}

.errorlist {
    color: #d88;
}

div#main {
    padding: 20px 30px;
}

.wrap {
    overflow: auto;
}
