{% extends "master.html" %}

{% block title %}
Assignment - {{ ass.title }}
{% endblock %}

{% block head_includes %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/ass.css" />
<script type="text/coffeescript" src="{{ STATIC_URL }}coffee/grader-color.coffee"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}coffee/ass.coffee"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    g_assID = "{{ass.id}}";
</script>
<div class="ass">
    <h1> {{ass.title}} </h1>
    due date: {{ ass.duetime|date:"Y-m-d H:i"}}

    <div id="desc">{{ ass.description }}</div>

    <h2> Upload Format </h2>
    <p> <pre>{{ ass.spec.html | safe }}</pre> </p>
    <p> You can download the <a href="{{ass.example.url}}">example</a> for reference.</p> .

    {% if user.usertype == "TA" %}
        <h2>Admin</h2>
        <p>
            <div id="TAs" class="panel">
                {% for ta in TAs %}
                <span class="TA" data-username="{{ta.username}}"> 
                    <label for="check-{{ta.username}}" class="grader-name">{{ta.username}}</label>
                    <input id="check-{{ta.username}}" type="checkbox" />
                </span>
                {% endfor %}
                <br/>
                <br/>
                <button id="assign-button" class="action"> Assign this Assignment </button>
            </div>
        </p>
        <p>
            <a href="/m/edit/{{ass.id}}/"> Edit this assignment </a>
        <!--<a href="/m/assign/{{ass.id}}/"> Assign this assignment </a>-->
        </p>
    {% endif %}

    <h2> Upload </h2>
    <div id="error-list" class="error-list" ></div>
    <form class="panel" id="upload-form" action="/m/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button id="upload-button" class="action" type="submit"> Upload </button>
        {{ form }}
        <input type="hidden" name="assID" value="{{ass.id}}" />
        <input type="hidden" name="next" value="/m/ass/{{ass.id}}/"/>
        <span id="upload-status"></span>
    </form>
    <br/>
    <div id="submissions">
    </div>
</div>
{% endblock %}
