{% extends "master.html" %}

{% block title %}
Assignment - {{ ass.title }}
{% endblock %}

{% block head_includes %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/ass.css" />
<script type="text/coffeescript" src="{{ STATIC_URL }}/coffee/ass.coffee"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    g_assID = "{{ass.id}}";
</script>
<div class="ass">
    <h1> {{ass.title}} </h1>
    due date: {{ ass.duetime|date:"Y-m-d H:i"}}

    <div id="desc">{{ ass.description }}</div>

    <h2> Upload Format </h2>
    <p> <pre>{{ ass.spec.html | safe }}</pre> </p>
    <p> You can download the <a href="{{ass.example.url}}">example</a> for reference.</p> .

    <h2> Upload </h2>
    <div id="error-list" class="error-list" ></div>
    {% if user.usertype == "TA" %}
        <p>
            Totally {{ submissions | length }} submissions.
        </p>
        <a href="/m/list/{{ass.id}}/"> Grade this assignment </a>
        <br />
        <a href="/m/edit/{{ass.id}}/"> Edit this assignment </a>
    {% elif user.usertype == "student" %}
    {% endif %}

        <div id="submissions">
        </div>

        <form id="upload-form" action="/m/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="assID" value="{{ass.id}}" />
            <input type="hidden" name="next" value="/m/ass/{{ass.id}}/"/>
            
            <button id="upload-button" type="submit"> Upload </button>
            <span id="upload-status"></span>
        </form>
</div>
{% endblock %}
