{% extends "master.html" %}

{% block title %}
Assignments
{% endblock %}

{% block body %}
<ul>
    {% for ass in asss %}
    <li>
    <a href="/m/ass/{{ass.id}}"> {{ass.title}} </a>  
    <br />
    Due date: {{ass.duetime}} <br/>
    Total submissions: {{ass.count}} <br/>
    {% if user.usertype == "TA" %}
        <!--<a href="/m/delete_ass/{{ass.id}}"> Delete {{ass.title}} </a> <br>-->
        <a href="/m/edit/{{ass.id}}/"> Edit this assignment </a>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
