{% load static %}
{% load utils %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <title> 
            {% block title %}
            {{title}}
            {% endblock %}
        </title>

        {% block head_includes %}
        <link rel="home" href="/m/my/" />
        <link rel="next" href="{{next}}" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/master.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" />
        <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-lightness/jquery-ui-1.10.2.custom.min.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookies.2.2.0.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/coffee-script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Converter.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Sanitizer.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/ajax.coffee"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/grader-color.coffee"></script>
        {% endblock %}
    </head>
    <body>
        {{ nav | safe }}
        <div id="main">
        {% block body %}
        {% endblock %}
        </div>
        <div id="footer">
            <span class="info">Please contact <span class="email">ray040123@gmail.com</span> if you meet problems about this site.</span>
            <div class="thanks">
                Thanks to:
                <ul>
                    <li><a target="_blank" href="https://www.djangoproject.com/">Django web framework</a></li>
                    <li><a target="_blank" href="http://www.glyphicons.com">Glyph Icons</a></li>
                </ul>
            </div>
        </div>
    </body>
    {% block foot_includes %}
    {% endblock %}
</html>
