{% load static %}
{% get_static_prefix as STATIC_URL %}
<div id="nav-bar">
    <div class="nav-inner">
        <span id="logo"> [drum] </span>
            <span class="nav-list">
                {% for name, url in navItems %}
                <span class="item" > <a href="{{url}}"> {{name}}</a></span>
                {% endfor %}
            </span>
        {% if user.is_authenticated %}
            <span class="nav-user">
                <span class="username">{{user.username}}</span>
                <span class="usertype">{{user.usertype}}</span>
            </span>
        {% endif %}
    </div>
</div>
<div id="nav-banner">
</div>
