{% extends "master.html" %}

{% block head_includes %}
    {{ block.super }}
    <link rel="back" href="{{ass.url}}" />
{% endblock %}
{% block title %}
Submission #{{submission.id}} for assignment "{{ass.title}}"
{% endblock %}

{% block body %}
<!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=cpp&skin=desert"></script>-->
<link rel="stylesheet" href="{{STATIC_URL}}css/subm.css" />
<script type="text/coffeescript" src="{{ STATIC_URL }}/coffee/subm.coffee"></script>

<div id="themes" class="panel">
    <link id="theme-default" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/prettify.css" />
    <link id="theme-desert" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/desert.css" />
    <link id="theme-sunburst" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/sunburst.css" />
    <link id="theme-doxy" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/doxy.css" />
    <link id="theme-sons-of-obsidian" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/sons-of-obsidian.css" />
    <link id="theme-tomorrow" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/tomorrow.css" />
    <link id="theme-github" disabled="disabled" rel="stylesheet" href="{{STATIC_URL}}google-code-prettify/github.css" />
    <h3> Choose a theme </h3>
    <div class="choices">
    </div>
</div>

<div id="submission-content">
    {% include "subm.html" %}
</div>

{% endblock %}

{% block foot_includes %}
<script src="{{STATIC_URL}}google-code-prettify/prettify.js"></script>
<script type="text/javascript">prettyPrint();</script>
{% endblock %}
