{% if submissions %}
    <table>
    <tr>
        <th>ID</th>
        {% if user.usertype == "TA" %}
        <th>User</th>
        {% endif %}
        <th>Filename</th>
        <th>Time</th> 
        <th>state</th>
        <th>Action</th>
    </tr>
    {% for sub in submissions %}
    <tr data-sid="{{sub.id}}" data-retcode="{{sub.retcode}}" data-message="{{sub.message}}">
            <td>{{ sub.id }}</td>
            {% if user.usertype == "TA" %}
            <td> {{sub.user.username}}/{{sub.user.studentID}} </td>
            {% endif %}
            <td>{{ sub.filename }}</td>
            <td>{{ sub.time | date:"Y-m-d H:i:s"}}</td>
            {% if sub.retcode == 0 %} 
            <td class="success"> success </td>
            {% else %}
            <td class="fail"> fail </td>
            {% endif %}
            <td>
                {% if sub.user == user %}
                    <button class="delete action warn" data-sid="{{sub.id}}">delete</button>
                {% endif %}
                {% if sub.retcode == 0 or sub.compilation_set %}
                    <button class="action view" data-sid="{{sub.id}}">view</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    You have not submitted any things on this assignment.
{% endif %}
