{% if submissions %}
    <table class="dataTable">
        <thead>
            <tr>
                <td>ID</td>
                {% if user.usertype == "TA" %}
                <td>User</td>
                <td>StudentID</td>
                {% endif %}
                <td>Filename</td>
                <td>Time</td> 
                <td>State</td>
                <td>Grader</td>
                <td>Score</td>
                <td>Penalty</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for sub in submissions %}
            <tr data-sid="{{sub.id}}" data-retcode="{{sub.retcode}}" data-message="{{sub.message}}">
                    <td>{{ sub.id }}</td>
                    {% if user.usertype == "TA" %}
                    <td>{{sub.user.username}}</td>
                    <td>{{sub.user.studentID}}</td>
                    {% endif %}
                    <td>{{ sub.filename }}</td>
                    <td>{{ sub.time | date:"Y-m-d H:i:s"}}</td>
                    {% if sub.retcode == 0 %} 
                        <td class="success"> success </td>
                    {% else %}
                        <td class="fail"> fail </td>
                    {% endif %}
                    <td>{% if sub.retcode == 0 %}
                            {% if sub.grader %}
                            <span class="grader-name">{{ sub.grader.username }}</span>
                            {% else %}
                            <span class="fail">none</span>
                            {% endif %}
                        {% endif %}</td>
                    <td>
                        {% if sub.retcode == 0 %}
                            {% if not sub.finished%}
                            {% else %}
                            <span class="success">{{ sub.total_score_final }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <!-- Penalty -->
                        {% if sub.retcode == 0 and sub.finished and sub.penalty%}
                            <span class="fail">{{ sub.penalty }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if sub.user == user %}
                            <button class="delete action warn" data-sid="{{sub.id}}">delete</button>
                        {% endif %}
                        {% if sub.retcode == 0 or sub.compilation_set.count %}
                            <button class="action view" data-sid="{{sub.id}}">view</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    You have not submitted any things on this assignment.
{% endif %}
