{% extends "master.html" %}

{% block title %}
Summary
{% endblock %}

{% block body %}
<table class="dataTable">
  <thead>
    <tr>
      {% for head in heads %}
      <td>{{head}}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
      {% for cell in row %}
      <td>
        {% if cell.finished %}
          <a href="{{cell.url}}">{{cell.total_score_final}}</a>
        {% elif cell.retcode == 0 %}
          <!--not graded-->
          <span title="Not graded">?</span>
        {% elif cell == None %}
        {% else %}
          {{cell}}
        {% endif %}
      </td>
      {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}coffee/summary.coffee"></script>
{% endblock %}
