#logo {
    font-size: 130%;
    font-family: serif;
    font-weight: bold;
}

body {
    background-color: #7187aa;
    font-family: sans-serif;
    color: #333;
}

div#main{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 40px;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}

th, td {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#footer {
    color: #DDD;
    width: 100%;
    left: 0; right: 0;
    min-height: 200px;
    padding: 12px 12px;
}
#footer .thanks{
    width: 48%;
    text-shadow: 3px 2px 8px #555;
    padding: 12px 12px;
    font-size: 80%;
    float: right;
}
#footer .info {
    width: 48%;
    text-shadow: 3px 2px 8px #666;
    padding: 12px 12px;
    float: left;
    font-size: 120%;
    border-right: solid 1px rgba(255, 255, 255, .4);
}
#footer .thanks a{
    text-decoration: none;
    color: #fff;
}
#footer .thanks a:hover{
    text-decoration: none;
    color: #ff0;
}

#footer .thanks ul {
    list-style-type: circle;
}

.errorlist {
    color: #d88;
}

div#main {
    padding: 20px 30px;
}

.wrap {
    overflow: auto;
}

.email {
    font-weight: bold;
    color: #eee;
    background-color: #e5738e;
    padding: 2px;
    border-radius: 2px 2px 2px 2px;
}

button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 6px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
    font-weight: bold;
}
button.choice{
    background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
    background-color: #7DB72F;
    border: 1px solid #538312;
    color: #E8F0DE;
}
button.selected{
    background: -moz-linear-gradient(center top , #d50e2f, #8b081e) repeat scroll 0 0 transparent;
    background-color: #d50e2f;
}
button.warn.action{
    background: -moz-linear-gradient(center top , #d50e2f, #8b081e) repeat scroll 0 0 transparent;
    background-color: #d50e2f;
    border: 1px solid #af0a25;
}
button.action{
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    background-color: #00ADEE;
    border: 1px solid #0076A3;
    color: #D9EEF7;
}
button.action:disabled{
    background: -moz-linear-gradient(center top , #b3b3b3, #7b7b7b) repeat scroll 0 0 transparent;
    background-color: #7b7b7b;
    border: 1px solid #3d3d3d;
    color: #3d3d3d;
}
.panel {
    right: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    padding: 5px 10px;
    overflow: auto;
}

.grader-name {
    font-weight: bold;
}
