.nav-list .item{
    list-style-type: none;
    margin-left: 30px;
}

.nav-list {
    overflow: auto;
}

#nav-bar {
    background-color: rgba(100, 100, 100, .8);
    color: #fff;
    min-height: 20px;
    position: fixed; top: 0; left: 0; right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 2px #000;
}

.nav-inner a {
    text-decoration: none;
    color: #DDE;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 89%;
}

.nav-inner a:hover {
    transition-property: background-color;
    transition-duration: 0.8s;
    background-color: #999;
}

.nav-inner {
    margin: 2px 5px;
}

.nav-user {
    float: right;
    padding: 3px 10px;
}

div#nav-banner {
    min-height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* position: absolute; */
    display: block;
}

.username, .usertype{
    background: #6d94d5;
    border-radius: 3px;
    margin-left: 5px;
    color: #fff;
    padding: 2px 4px;
    text-shadow: 3px 2px 3px rgba(50, 50, 50, 1);
    font-family: serif;
}
.usertype {
    font-weight: bold;
    background: #92b9fb;
}

#nav-banner {
}
